body {
  background-color: #F7ECDE;
}

hr {
  border-style: none;
  border-top-style: dotted;
  width: 5%;
  border-width: 5px;
  border-color: grey;
}
h1 {
  color: #00B4D8;
}
h3 {
  color: #865439;
}
